.mycontainer {
  text-align: center;
  h1 {
    text-transform: uppercase;
  }

  .mush {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90vw;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
.box {
  background-color: aquamarine;
  background-color: aliceblue;
  padding: 1rem;
  border: 2px solid red;
  border-radius: 12.5%;
  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
  }
  h2 {
    font-weight: 600;
    text-transform: capitalize;
  }
  h3 {
    font-weight: 400;
  }
}
.mycounter {
  width: 40%;
  height: 7rem;
  margin: 0 auto;

  text-align: center;
  font-size: 2rem;
}

.green {
  background-color: green;
  color: white;
}
.red {
  background-color: red;
  color: white;
}
